include *.rst *.txt LICENSE tox.ini .travis.yml docs/Makefile .coveragerc
recursive-include tests *.py
recursive-include tests *.txt
recursive-include docs *.rst
recursive-include docs *.py
recursive-include docs *.png
prune docs/_build
